

body {
   font-family: "Droid Sans", sans-serif;
   font-size: 1.1em;
}

a {
   color: #333399;
}

h1, h2, h3, h4, h1 a { 
   font-family: "Droid Serif", serif;
   text-decoration: none;
   }

.navbar {
   background-color: palegoldenrod;
}

